/* body  ================================================= */
body, html {
  height: 100%;

  }

body {
  font-family: 'Amiri', serif !important;
  background-image: url("../img/hatter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  }


/* navbar  ================================================= */
nav{
  background-color: rgba(236, 226, 206, 0.9);
  font-size: 14pt;
  border: solid 1px black;

  }


.logo img {
  padding-left: 35%;
  width:70%;
  height:70%;

  }

.logo h1 {
  position: relative;
  font-size: 25px;

  }

.nav-item{
  background-color: rgb(158, 142, 93);
  border-color: rgb(158, 142, 93);
  font-size: 14pt;

  }

#menusor{
  margin-left: 22% !important;
  margin-right: auto !important;

  }

.form-inline a:hover{
  color:rgb(255, 208, 80) !important;

  }

.form-inline a:focus{
  color:rgb(255, 208, 80) !important;

  }


/* Dropdown ================================================= */
#button{
  border-radius: 0%;
  background-color: rgb(158, 142, 93);
  border-color: rgb(158, 142, 93);
  box-shadow: none;
  font-size: 14pt;
  padding: 7px 15px;


  }

#button:hover {
  color:rgb(255, 208, 80) !important;

  }

.dropdown{
  background-color: rgb(158, 142, 93);
  border-color: rgb(158, 142, 93);

  }

.dropdown-menu{
  background-color: rgb(158, 142, 93);
  border-color: rgb(158, 142, 93);
  margin: auto;
  border-radius: 0px 0px 8px 8px !important;

  }

.dropdown-menu a:hover{
  background-color: rgb(221, 182, 73);
  border-color: rgb(221, 182, 73);
  color: white !important;

  }

/* Dropdown ID ================================================= */

#dropdownmenu{
  background-color: rgb(158, 142, 93);
  border-color: rgb(158, 142, 93);
  margin-top:-20px;
  margin-right: 16px;
  border-radius: 0px 0px 8px 8px !important;

  }

#dropdownmenu a:hover{
  background-color: rgb(221, 182, 73);
  border-color: rgb(221, 182, 73);
  color: white !important;
  }

  #logout:hover{
    background-color: rgb(221, 182, 73);
    border-color: rgb(221, 182, 73);
    color: white !important;

  }

/* Button ================================================= */
.btn{
  border-radius: 10%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgb(158, 142, 93);
  border-color: rgb(158, 142, 93);

  }

.btn:hover {
  background-color: rgb(221, 182, 73);
  border-color: rgb(221, 182, 73);
  color: white;

  }


/* Színek ================================================= */
#color1{
  background-color: rgba(236, 226, 206, 0.9);
  border: solid 1px black;

 }

#color1 iframe {
  width: 560px;
  height: 315px;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;

  }

#color2{
  background-color: rgba(97, 87, 56, 0.9);

  }

#color3{
  font-family: 'Amiri', serif;
  color:black;
  text-align: center;
  margin: auto;
  font-size: 18px;
  background-color: rgba(236, 226, 206, 0.9);
  border: solid 1px black;

 }

 #color4{
  background-color: rgba(97, 87, 56, 0.9);
  font-family: 'Amiri', serif;
  color:#fff;
  border-radius: 5px;

  }

#rounded{
  background-color: rgba(236, 226, 206, 0.9);
  border-bottom-right-radius: 3em 6em;
  border-bottom-left-radius: 3em 6em;
  border: solid 1px black;
  padding-bottom: 5px;
  font-family: 'Pacifico', cursive;
  font-size: 20px !important;
  text-align: center;

  }


  .carousel-inner{
  width:100%;
  max-height: 400px !important;

  }


/* Footer ================================================= */

footer a{
  color:white;

  }

footer a:hover{
  color:rgb(221, 182, 73);
  text-decoration: none;

  }

.page-footer{
  font-size: 10pt;

  }

/* Tartalom ================================================= */
  .tartalom_cim{
    font-size: 20px;
    color: rgb(0, 0, 0) !important;
    font-family: 'Amiri', serif !important;

  }

  .gyerek{
    color:black;
    font-weight: bold;

  }

  .gyerek:hover{
    color:black;
    font-weight: bold;

  }

/* Tartalom / Szolgáltatások ================================================= */
.szolgaltatasok{
  font-family: 'Amiri', serif;
  color:black;
  text-align: center;
  margin: auto;
  font-size: 13px;

  }

.szolgaltatasok h5{
  font-weight: 900;

  }

.szolgaltatasok img{
  padding-bottom: 10%;

  }

.szolgaltatasok a:hover{
  opacity: .5;

  }

/* login_reg ================================================= */
#login{
  padding-top: 5%;
  font-family: 'Amiri', serif !important;
  font-size:20px;
  font-weight: 900;

  }

#loginbtn{
  border-radius: 30px;
  width: 60%;

  }

.loginreg_hr hr {
  border: none;
  border-top: 1px solid #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;

  }

.loginreg_hr hr:after {
  background:	#f7f7f7;
  content: 'vagy';
  padding: 0 4px;
  position: relative;
  top: -13px;

  }

  #reg{
    padding-top: 5%;
    font-family: 'Amiri', serif !important;
    font-size:20px;
    font-weight: 900;

    }

  .remove {
      color: red;

    }

  .ok {
      color: green;

    }




  /* Kategóriák ================================================= */
#kategoriak{
  width: 15%;
  float: left;
  background-color: rgb(158, 142, 93);
  text-align: center;
  font-size: 14pt;
  text-align: justify;
  font-family: 'Amiri', serif !important;

  }

.kategoriak{
  padding: 15px 15px;
  border-bottom: 1px solid #000000;

  }

.kategoriak:hover{
  background-color: rgb(221, 182, 73);

  }

.kategoriak a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;

  }

.active{
  background-color:rgb(0, 0, 0)

  }


/* Termékek ================================================= */
#megjelen_termekek{
  width: 85%;
  min-height: 100%;
  padding-top: 25px;
  float: right;
  background-color: rgba(236, 226, 206, 0.9);
  font-size: 14pt;
  font-family: 'Amiri', serif !important;

  }

.termekdoboz{
  float: left;
  width: 30%;
  height:500px;
  padding: 15px;
  margin: 10px;
  border: 1px solid rgb(20, 9, 22);
  border-radius: 8px;
  background-color: rgb(214, 214, 184);
  box-shadow: 10px 10px #c9bebe;
  }

.borito{
  width: 50%;
  margin: 0 auto;

  }

.borito img{
  width: 100%;
  height: 200px;

  }

.cim{
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  height: 15%;

  }

.szerzo{
  margin-top: 10px;
  text-align: center;
  font-size: 16px;

  }

.ar{
  margin-top: 10px;
  text-align:center;
  font-weight: bold;
  font-size: 18px;

  }

.add{
  margin: 28px 0;
  text-align: center;
  font-size: 16px;

  }

.add a{
  background-color: rgb(158, 142, 93);
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 25px;

  }

.add a:hover{
  background-color: rgb(221, 182, 73);
  border-color: rgb(221, 182, 73);
  color: white;
  transition: all 0.3s ease;

  }

.no{
  margin: 28px 0;
  text-align: center;
  font-size: 16px;

  }

.no a{
  background-color: rgb(158, 142, 93);
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 25px;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;

  }

#sort{
  text-align: center;
  font-size: 16px;
  padding: 5px;

  }

/* Termék Adatlap ================================================= */
#borito{
  float: left;
  width: 50%;
  margin-top: 15px;

  }

#borito img{
  width: 60%;
  height: auto;
  margin-left: 130px;

  }

#konyvadat{
  font-family: 'Amiri', serif !important;
  width: 50%;
  margin-top: 15px;
  text-align:center;
  float: right;

  }

#leiras{
  text-align: justify;
  padding: 10px 55px 10px 55px;
  font-size: 16pt;
  font-family: 'Comfortaa', cursive !important;

  }


#red{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(199, 50, 50);
  font-family: 'Amiri', serif !important;

  }

#green{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(21, 197, 5);
  font-family: 'Amiri', serif !important;

  }


#add{
  margin: 28px 0;
  text-align: center;
  font-size: 16px;

  }

#add a{
  background-color: rgb(158, 142, 93);
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 25px;

  }

#add a:hover{
  background-color: rgb(221, 182, 73);
  border-color: rgb(221, 182, 73);
  color: white;
  transition: all 0.3s ease;

  }

#no{
  margin: 28px 0;
  text-align: center;
  font-size: 16px;

  }


#no a{
  background-color: rgb(158, 142, 93);
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 25px;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;

  }

/* Tartalom könyvek ================================================= */
.termekdoboz2{
  float: left;
  width: 20%;
  padding: 5px;
  margin: 5px 10px;

  }

.borito2{
  width: 100%;
  margin: 0 auto;

  }

.borito2 img{
  width: 100%;
  height: 200px;
  box-shadow: 5px 5px rgb(250, 249, 248, 0.5);

  }

/* Kosár ================================================= */
#kosar_tablazat{
  margin-top: 40px;
  padding-top:10px;
  font-family: 'Amiri', serif !important;
  font-size: 20px;
  min-height: 500px;
  background-color: rgba(236, 226, 206, 0.9);
  text-align: center;
  border-radius: 10px;

  }

th, td {
  padding: 15px;
  text-align: left;

  }

th{
  font-weight: bold;

  }

  .rendel_gomb{
    background-color: rgb(158, 142, 93);
    color: #fff;
    text-decoration: none;
    border-radius: 12px;
    padding: 10px 25px;
    margin-top: 150px;
  }

  .rendel_gomb:hover{
    background-color: rgb(221, 182, 73);
    border-color: rgb(221, 182, 73);
    color: white;
    transition: all 0.3s ease;
    text-decoration: none;
  }

  /* Profil ================================================= */
#adatok{

text-align: left !important;
font-family: 'Amiri', serif !important;
font-size: 20px;
background-color: rgba(97, 87, 56, 0.9);
border-radius: 10px;
margin-bottom: 10px;
max-height: 350px;

}

#adatok.p{
  font-weight: bold ;
}

#profil{

  text-align: left !important;
  font-family: 'Amiri', serif !important;
  font-size: 20px;
  background-color: rgba(97, 87, 56, 0.9);
  border-radius: 10px;

  }

  #szallitadatok{

    text-align: left !important;
    font-family: 'Amiri', serif !important;
    font-size: 20px;
    background-color: rgba(97, 87, 56, 0.9);
    border-radius: 10px;
  }

/* Akció oldal ================================================= */
  #akciok{
    width: 100%;
    min-height: 100%;
    padding-top: 25px;
    float: right;
    background-color: rgba(236, 226, 206, 0.9);
    font-size: 14pt;
    font-family: 'Amiri', serif !important;
    border-radius: 10px;
    }

/* Rendelés ================================================= */
    #sajatadatok{

      text-align: center !important;
      font-family: 'Amiri', serif !important;
      font-size: 20px;
      background-color: rgba(97, 87, 56, 0.9);
      border-radius: 10px;
      margin-left:350px;
      max-height: 350px;
      width:300px;

      }

